<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  
  <!-- 회원가입 서블릿 -->
  <servlet>
  	<servlet-name>join</servlet-name>
  	<servlet-class>join.controller.JoinServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>join</servlet-name>
  	<url-pattern>/join.do</url-pattern>
  </servlet-mapping>
  
  
  <!-- 게시판 서블릿 -->
  <servlet>
  	<servlet-name>board</servlet-name>
  	<servlet-class>member.board.controller.BoardServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>board</servlet-name>
  	<url-pattern>/board.do</url-pattern>
  </servlet-mapping>
  
   <!-- 운동 정보 서블릿 -->
  <servlet>
  	<servlet-name>exercise</servlet-name>
  	<servlet-class>member.board.controller.ExerciseServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>exercise</servlet-name>
  	<url-pattern>/exercise.do</url-pattern>
  </servlet-mapping>
  
  
  
  <!-- 매칭 서블릿 -->
  <servlet>
  	<servlet-name>match</servlet-name>
  	<servlet-class>member.match.controller.MatchServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>match</servlet-name>
  	<url-pattern>/match.do</url-pattern>
  </servlet-mapping>
  
  
  <!-- 식사량 서블릿 -->
  <servlet>
  	<servlet-name>dayMenu</servlet-name>
  	<servlet-class>member.mentee.dayMenu.controller.DayMenuServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>dayMenu</servlet-name>
  	<url-pattern>/dayMenu.do</url-pattern>
  </servlet-mapping>
  
  
  
  <!-- 운동 계획 서블릿 -->
  <servlet>
  	<servlet-name>plan</servlet-name>
  	<servlet-class>member.mentee.exercise.plan.controller.PlanServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>plan</servlet-name>
  	<url-pattern>/plan.do</url-pattern>
  </servlet-mapping>
  
  
  <!-- 총 운동량 서블릿 -->
  <servlet>
  	<servlet-name>total</servlet-name>
  	<servlet-class>member.mentee.exercise.total.controller.TotalServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>total</servlet-name>
  	<url-pattern>/total.do</url-pattern>
  </servlet-mapping>
  
  
  <!-- 음식 API 서블릿 -->
  <servlet>
  	<servlet-name>food</servlet-name>
  	<servlet-class>member.mentee.food.controller.FoodServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>food</servlet-name>
  	<url-pattern>/food.do</url-pattern>
  </servlet-mapping>
  
  
  
  <!-- 프로필 서블릿 -->
  <servlet>
  	<servlet-name>profile</servlet-name>
  	<servlet-class>member.profile.controller.ProfileServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>profile</servlet-name>
  	<url-pattern>/profile.do</url-pattern>
  </servlet-mapping>
  
  
  
  <!-- 결제 서블릿 -->
  <servlet>
  	<servlet-name>trade</servlet-name>
  	<servlet-class>member.trade.controller.TradeServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>trade</servlet-name>
  	<url-pattern>/trade.do</url-pattern>
  </servlet-mapping>
  
  

</web-app>